.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.main {
  display: flex;
  flex-direction: column;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  gap: 40px;
}