.page {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.card {
  padding: 40px;
  width: 640px;
  display: flex;
  flex-direction: column;
}

.number {
  text-align: center;
}

.status {
  color: #00cccc;
}

.ingredients {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.ingredientRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ingredientAvatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  background: #131316;
  border: 2px solid #4c4cff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredientImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ingredientPrice {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalPrice {
  display: flex;
  align-items: center;
}