.page {
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.orderCard {
    background: #1c1c21;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.orderHeader {
    display: flex;
    justify-content: space-between;
}

.orderNumber {
    color: #f2f2f3;
}

.orderTime {
    color: #8585ad;
}

.orderTitle {
    margin: 0;
}

.orderStatus {
    color: #00cccc;
}

.orderFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderIngredients {
    display: flex;
}

.ingredientAvatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #4c4cff;
    overflow: hidden;
    background: #131316;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -12px;
}

.ingredientImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ingredientMore {
    background: linear-gradient(145deg, #4c4cff, #801ab2);
    color: #f2f2f3;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}