.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.name {
  text-align: center;
  max-width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}



