.page {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    column-gap: 60px;
    row-gap: 0px;
    height: 100%;
    overflow: hidden;
}

.title {
    grid-column: 1 / -1;
}

.ordersColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    padding-right: 10px;
}

.orderCard {
    background: #1c1c21;
    border-radius: 24px;
    padding: 24px;
    /* border: 2px solid rgba(76, 76, 255, 0.6); */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.orderHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.orderNumber {
    color: #f2f2f3;
}

.orderTime {
    color: #8585ad;
}

.orderTitle {
    margin-bottom: 16px;
}

.orderFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderIngredients {
    display: flex;
}

.ingredientAvatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #4c4cff;
    overflow: hidden;
    background: #131316;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -12px;
}

.ingredientImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ingredientMore {
    background: linear-gradient(145deg, #4c4cff, #801ab2);
    color: #f2f2f3;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.statsColumn {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.statusBlocks {
    display: flex;
    gap: 36px;
}

.statusBlock {
    width: 100%;
}

.statusLists {
    display: flex;
    gap: 24px;
}

.statusColumn {
    flex: 1;
}

.statusList {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 0px;
}

.statusReady {
    color: #00cccc;
}

.statusInProgress {
    color: #f2f2f3;
}

.bigNumber {
    font-size: 144px;
    line-height: 1;
    text-shadow: 0 0 32px rgba(76, 76, 255, 0.8);
}

.bigNumberBlock {
    background: #131316;
    border-radius: 24px;
}

.hint {
    margin-top: 8px;
    color: #8585ad;
}

a {
    text-decoration: none;
}