.wrapper {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
}

.stats {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.stats_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}