.page {
    display: flex;
    justify-content: center;
    padding-top: 180px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
}

.link {
    color: var(--colors-interface-accent, #4c4cff);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}